body {
	margin: 0;
	background-color: lightyellow;
}
header {
	display: flex;
	justify-content: space-between;
	padding: 10px;
	border-bottom: 1px solid gray;
	margin-bottom: 30px;
	color: white;
	background-color: skyblue;
}
#brand-name {
	padding: 10px;
	font-size: 1.5em;
	font-family: cursive;
}
nav {
	padding: 10px;
}
nav > a {
	padding: 0 5px;
}
section {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
#add-todo-wrapper {
	height: auto;
	width: 100%;
	padding: 50px;
	text-align: center;
}
#add-todo-wrapper > input[type="text"] {
	padding: 10px;
	outline: 0;
	border: 1px solid rgb(246, 250, 0);
	border-right: 1px solid transparent;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}
#add-todo-wrapper > button {
	padding: 10px;
	border: 1px solid #fa00d9;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border-left: 1px solid transparent;
	background: #fa00d9;
	outline: 0;
	cursor: pointer;
}
#yet-todo-wrapper {
	width: 30%;
	margin: 50px;
	height: auto;
	height: 0%;
	box-shadow: 0px 0px 10px 0px gray;
}
#completed-todo-wrapper {
	width: 30%;
	margin: 50px;
	height: 0%;
	box-shadow: 0px 0px 10px 0px gray;
}
.wrapall-class {
	color: red;
}
#completed-todo-wrapper .div-header {
	padding: 10px 10px;
	font-size: 1.3em;
	background-color: rgb(246, 250, 0);
	color: white;
}
#yet-todo-wrapper .div-header {
	padding: 10px 10px;
	font-size: 1.3em;
	background-color: rgb(250, 0, 217);
	color: white;
}
.todo-text {
	padding: 10px;
	background-color: rgb(255, 255, 255);
	color: black;
}
.wrap-all {
	padding: 10px;
	width: 100%;
	background-color: red;
}
input[type="checkbox"] {
	background-color: red;
	height: 1.5em;
	width: 1.5em;
}
#yet-todo-wrapper .animated {
	border-bottom: 3px solid rgb(253, 4, 211);
	margin: 10px 0;
	padding: 10px;
	display: block;
}
#completed-todo-wrapper .animated {
	border-bottom: 3px solid rgb(253, 228, 4);
	margin: 10px 0;
	padding: 10px;
	display: block;
}
footer {
	margin-bottom: 70px;
}

@media screen and (max-width: 500px) {
	nav {
		display: none;
	}
	section {
		flex-direction: column;
		justify-content: center;
	}
	#add-todo-wrapper {		
		width: 70%;
		padding: 50px;
	}
	#yet-todo-wrapper {
		width: 80%;
		padding: 10px;
		margin: auto;
	}
	#completed-todo-wrapper {
		width: 80%;
		padding: 10px;
		margin: auto;
	}
}